# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
package-lock.json
.pnp/
.pnp.js
.yarn/install-state.gz

# build/test artifacts
/.eslintcache
/packages/*/.turbo
/packages/*/coverage
/packages/*/dist

# output of 'npm pack'
/packages/*/*.tgz

# misc
.DS_Store
*.pem

# IDE files
/.idea
/.vscode
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# debug
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables file
.env
.envrc

# more misc
/*__clone__
/drupal/web/phpunit.xml
/drupal/web/sites/default/settings.local.php
/drupal-*

# Local Drupal instance
local-next-drupal/

# temporary starters folder
temp-starters/
