# Ignore everything.
/*

# Don't ignore some files in the root directory.
!/*.js
!/*.ts
!/*.md
!/*.json

# Don't ignore these nested directories.
!/examples
!/modules
!/packages
!/scripts
!/starters
!/test
!/www

# In any nested folder, ignore these paths:
.next
CHANGELOG.md
composer.json
dist
package.json
package-lock.json
public
