next.next_site.*:
  type: config_entity
  label: "Next.js site"
  mapping:
    id:
      type: string
      label: "ID"
    label:
      type: label
      label: "Label"
    base_url:
      type: string
      label: "Base URL"
    preview_url:
      type: string
      label: "Preview URL"
    preview_secret:
      type: string
      label: "Preview secret"

next.next_entity_type_config.*:
  type: config_entity
  label: "Next.js entity type config"
  mapping:
    id:
      type: string
      label: "ID"
    site_resolver:
      type: string
      label: "Site resolver"
    configuration:
      type: next.site_resolver.configuration.[%parent.site_resolver]

next.site_resolver.configuration.site_selector:
  type: mapping
  mapping:
    sites:
      type: sequence
      label: "Next.js sites"
      sequence:
        type: string
        label: "Site"

next.site_resolver.configuration.entity_reference_field:
  type: mapping
  mapping:
    field_name:
      type: string
      label: "Field name"

next.settings:
  type: config_object
  label: "Next settings"
  mapping:
    site_previewer:
      type: string
      label: "Site previewer"
    site_previewer_configuration:
      type: next.site_previewer.configuration.[%parent.site_previewer]
    preview_url_generator:
      type: string
      label: "Preview URL generator"
    preview_url_generator_configuration:
      type: next.preview_url_generator.configuration.[%parent.preview_url_generator]

next.site_previewer.configuration.iframe:
  type: mapping
  mapping:
    width:
      type: string
      label: "Width"
    sync_route:
      type: boolean
      label: "Sync route"
    sync_route_skip_routes:
      type: string
      label: "Sync route skip pages"

next.preview_url_generator.configuration.simple_oauth:
  type: mapping
  mapping:
    secret_expiration:
      type: integer
      label: "Secret expiration"
