name: next-drupal
on:
  pull_request_target:
    types: [opened, reopened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Install modules
        run: yarn
      - name: Run tests
        run: yarn workspace next-drupal test
        env:
          DRUPAL_BASE_URL: ${{ secrets.DRUPAL_BASE_URL }}
          DRUPAL_USERNAME: ${{ secrets.DRUPAL_USERNAME }}
          DRUPAL_PASSWORD: ${{ secrets.DRUPAL_PASSWORD }}
          DRUPAL_CLIENT_ID: ${{ secrets.DRUPAL_CLIENT_ID }}
          DRUPAL_CLIENT_SECRET: ${{ secrets.DRUPAL_CLIENT_SECRET }}
